<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{!-- <link rel = "stylesheet" href = "/public/css/output.css"> --}}
      <script src="https://cdn.tailwindcss.com"></script>
    <title>Coolectible$</title>
  </head>

  <body class = 'bg-gradient-to-t from-indigo-100 from-60% to-rose-100 drop-shadow-xl'>
    <div class=''>
      <header class='py-6 px-8 font-bold bg-indigo-500 text-white items-center flex max-lg:flex-col justify-between drop-shadow-lg'>
        <h1>
          {{#if logged_in}}
            <a href='/home' class = 'md:text-5xl text-3xl'>COOLECTIBLE$</a>
          {{else}}
            <a href='/' class = 'md:text-5xl text-3xl'>COOLECTIBLE$</a>
          {{/if}}
        </h1>
        <nav class = 'xl:text-4xl md:text-3xl max-lg:mt-3'>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href='/home' class = 'mx-2' >Home</a>

            <a href='/dashboard' class = 'mx-2' >Dashboard</a>

            <a href='/dashboard/collection' class = 'mx-2' >Collections</a>

            <button class='mx-2' id='logout'>Logout</button>
          {{else}}
            <a class = 'mx-2' href='/login'>Login/Sign-up</a>
          {{/if}}
        </nav>
      </header>
      <main class='flex justify-center items-center min-h-screen'>
        <!-- Render the sub layout -->
        
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>