{{#if figure}}
<section class="text-white body-font my-4">
    <div class="px-10 py-16 mx-auto bg-white bg-opacity-70 rounded-lg">

        <div>
            <div class="px-2 bg-gradient-to-br from-blue-500 to-purple-500 transition duration-[500] hover:scale-110 hover:drop-shadow-2xl hover:shadow-violet-600/50 2xl:w-96 lg:w-72 shadow-xl rounded-md rounded-tr-2xl rounded-bl-2xl">
                <a href="/dashboard/collection/{{id}}">
                    <figure class="">
                        <img src="{{ image }}" alt="" class="rounded-md" />
                    </figure>
                    <div class="items-center text-center">
                        <h2 class="m-2 py-20 font-bold text-xl">Create Your First Figure Here!</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

</section>
{{/if}}

{{!-- <section class="text-white body-font my-4">
    <div class="px-10 py-16 mx-auto bg-white bg-opacity-70 rounded-lg">

        <div>
            <div class="px-2 bg-gradient-to-br from-blue-500 to-purple-500 transition duration-[500] hover:scale-110 hover:drop-shadow-2xl hover:shadow-violet-600/50 2xl:w-96 lg:w-72 shadow-xl rounded-md rounded-tr-2xl rounded-bl-2xl">
                <a href="/dashboard/collection/{{id}}">
                    <figure class="">
                        <img src="{{ image }}" alt="" class="rounded-md" />
                    </figure>
                    <div class="items-center text-center">
                        <h2 class="m-2 py-20 font-bold text-xl">Create Your First Collection/Coolectible Here!</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

</section> --}}