

<section class="text-gray-600 body-font">
    <div class="flex flex-row justify-center pt-6">
        <button class="border-2 border-white bg-indigo-600 rounded-lg text-white text-lg p-1.5 me-3 hover:bg-indigo-500 transition duration-400 hover:scale-110" id="addCollectionBtn">Add Collection</button>
        <button class="border-2 border-white bg-indigo-600 rounded-lg text-white text-lg p-1.5 me-3 hover:bg-indigo-500 transition duration-400 hover:scale-110" id="addCoolectibleBtn">Add Coolectible</button>
    </div>
    <form id="view-all-form" class="flex justify-center items-center mt-5">
        <label class="font-bold text-lg" for="view-all">View All Your:</label>
            <select class="p-2 rounded-lg ms-3 me-4" id="view-all-choice" name="type-select">
            <option value="figure">Action Figures</option>
            <option value="card">Cards</option>
            <option value="coin">Coins</option>
            <option value="music">Music</option>
            </select> 
        <input class="cursor-pointer border-2 border-white bg-indigo-600 rounded-lg text-white text-lg p-1.5 me-3 hover:bg-indigo-500 transition duration-400 hover:scale-110" type="submit">
    </form>
    {{!-- Modal Container --}}
    <div class="flex flex-row justify-center sticky inset-x-1/4 inset-y-1/4 z-50">
        <!-- Trigger/Open The Modal -->
        <!-- The Modal -->
        <div id="myModal" class="modal absolute hidden w-fit h-fit bg-indigo-200 border-4 border-indigo-600 rounded-md drop-shadow-2xl">
        <!-- Modal content Generated Here Dynamically from script-->
        </div>
    </div>

<div class = 'mb-8 p-16 bg-white bg-opacity-70 rounded-lg flex items-center text-center'>
    <form>
    <div class="space-y-6">
        <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>

        <div class="mt-10">
            <div class="">
            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
            <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">workcation.com/</span>
                <input type="text" name="username" id="username" autocomplete="username" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="border-b border-gray-900/10 pb-8">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>

        <div class="mt-10 grid gap-x-6 gap-y-8 ">
            <div class="sm:col-span-2">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
            <div class="mt-2">
                <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            </div>

            <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
            <div class="mt-2">
                <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            </div>

            <div class="sm:col-span-4">
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
            <div class="mt-2">
                <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="mt-6 flex items-stretch justify-center gap-x-6">
        <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 transition duration-400 hover:scale-110 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
    </div>
    </form>
</div>
</section>

{{!-- Script to generate and handel modal interaction --}}
<script src="/js/view-all.js"></script>
<script src="/js/add-item-modal.js"></script>