<content class = "flex flex-col">
      {{!-- Modal Container --}}
  <div class="flex flex-row justify-center sticky top-16 z-50">
      <!-- Trigger/Open The Modal -->
      <!-- The Modal -->
      <div id="myModal" class="modal absolute hidden w-fit h-fit bg-indigo-200 border-4 border-indigo-600 rounded-md drop-shadow-2xl">
      <!-- Modal content Generated Here Dynamically from script-->
      </div>
  </div>
  <input id="page-name-inp" type="hidden" value="view-all">
  <div class = 'flex justify-center'>
    <h2 class = 'pb-5 font-bold text-4xl md:text-6xl lg:text-8xl m-6 bg-gradient-to-tr from-violet-700 via-fuchsia-300 to-teal-400 bg-clip-text text-transparent'>{{first_name}}'s 
      {{#if figure}}
        Figures
      {{/if}}
      {{#if coin}}
        Coins
      {{/if}}
      {{#if card}}
        Cards
      {{/if}}
      {{#if music}}
        Music
      {{/if}}
    </h2>
  </div>
  <div class="flex felx-row justify-center">
        <button class="border-2 border-white bg-indigo-600 rounded-lg text-white text-lg p-1.5 me-3 hover:bg-indigo-500 transition duration-400 hover:scale-110" id="addCollectionBtn">Add Collection</button>
        <button class="border-2 border-white bg-indigo-600 rounded-lg text-white text-lg p-1.5 me-3 hover:bg-indigo-500 transition duration-400 hover:scale-110" id="addCoolectibleBtn">Add Coolectible</button>
  </div>
  <form id="view-all-form" class="flex justify-center items-center mt-5">
    <label class="font-bold  text-lg" for="view-all">View All:</label>
        <select class="p-2 rounded-lg ms-3 me-4" id="view-all-choice" name="type-select">
        <option value="figure">Action Figures</option>
        <option value="card">Cards</option>
        <option value="coin">Coins</option>
        <option value="music">Music</option>
        </select> 
    <input class="cursor-pointer border-2 border-white bg-indigo-600 rounded-lg text-white text-lg p-1.5 me-3 hover:bg-indigo-500 transition duration-400 hover:scale-110" type="submit">
  </form>
  <section class="text-white body-font my-4">
      <div class="px-10 py-16 mx-auto bg-white bg-opacity-70 rounded-lg">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
          {{#if coin}}

            {{>coin}}
          
          {{/if}}

          {{#if figure}}
            {{>figure}}
          {{/if}}
          
          {{#if music}}
            {{>music}}
          {{/if}}

          {{#if card}}
            {{>card}}
          {{/if}}
          
          </div>

      </div>

  </section>

</content>

<script src="/js/add-item-or-coll.js"></script>
<script src="/js/edit-del-rmv-item.js"></script>
<script src="/js/add-to-coll.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/view-all.js"></script>