<div class="p-10 flex items-center justify-center min-h-screen">
    <div class="grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16">
        <div class="col-span-1">
        <p class="text-xl font-semibold leading-7 text-indigo-600 text-center">Display Your Collections!</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 underline underline-offset-8 text-center sm:text-4xl">A Better Way to Manage Your Collections</h1>
        <p class="mt-6 md:text-xl sm:text-lg leading-8 text-gray-700 text-center">Welcome to Coolectible$ – the ultimate solution for managing and showcasing your personal collection of physical items! With Coolectible$, you have the power to enter and organize your very own items, instead of being limited to pre-made selections.

Our platform offers a convenient and user-friendly experience, empowering you to effortlessly document and display your prized possessions. Whether you collect rare Pokémon cards, exquisite action figures, vintage coins, or any other treasured items, Coolectible$ is here to elevate your collecting journey.

No more settling for generic item lists. With Coolectible$, you have the freedom to personalize and curate your collection to reflect your unique tastes and interests.</p>
        </div>
        <div class="flex justify-center">
        <img class="max-w-[48rem] rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:max-w-[57rem]" src="https://i.kym-cdn.com/entries/icons/original/000/043/403/cover3.jpg" alt="">
        </div>
        <div class="col-span-1">
        <div class="max-w-xl text-base text-center leading-7 text-gray-700 mx-auto">
            <p>Simply input the details of each item, including images, descriptions, and any other pertinent information that makes your collection truly one-of-a-kind.

Unleash your creativity and share your collection with fellow enthusiasts, friends, and family. Our intuitive interface allows you to easily create stunning galleries and share them across social media platforms, inspiring conversations and connections with like-minded collectors.

Discover the joy of tracking your collection's growth, tracking values, and staying up to date with the latest market trends. Coolectible$ keeps you informed, making it effortless to stay connected with the ever-evolving world of collectibles.

Join us today and embark on a journey where your collection truly reflects your passion and personality. Experience the convenience, freedom, and joy of managing and displaying your very own Coolectible$ collection.</p>
            <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3"></li>
            </ul>
        </div>
        </div>
    </div>
</div>